<!-- Sidebar -->
<div id="sidebar" class="sidebar">
  <div id="toggleSidebar" class="sidebar-header text-center py-4">
    <i id="toggleSidebar" class="fa-solid fa-kit-medical fa-2x"></i>
    <h4 class="mt-2">HealthStock</h4>
  </div>
  <ul class="nav flex-column text-white">
    <li class="nav-item">
      <a href="./home.html" class="nav-link"><i class="fa fa-home me-2"></i> <span class="label">Home</span></a>
    </li>
    <li class="nav-item">
      <a href="./insumos.html" class="nav-link"><i class="fa fa-box me-2"></i> <span class="label">Insumos</span></a>
    </li>
    <li class="nav-item">
      <a href="./movimentacao.html" class="nav-link"><i class="fa fa-exchange-alt me-2"></i> <span class="label">Movimentação</span></a>
    </li>
    <li class="nav-item">
      <a href="./setores.html" class="nav-link"><i class="fa fa-building me-2"></i> <span class="label">Setores</span></a>
    </li>
    <li class="nav-item">
      <a href="./fornecedores.html" class="nav-link"><i class="fa fa-truck me-2"></i> <span class="label">Fornecedores</span></a>
    </li>
    <li class="nav-item">
      <a href="./unidades.html" class="nav-link"><i class="fa fa-hospital me-2"></i> <span class="label">Unidades</span></a>
    </li>
    <li class="nav-item">
      <a href="./compras.html" class="nav-link"><i class="fa fa-shopping-cart me-2"></i> <span class="label">Compras</span></a>
    </li>
  </ul>

  <!-- Botão de Logout -->
  <div class="mt-auto p-3">
    <button id="logoutBtn" class="btn btn-outline-light w-100 d-flex align-items-center justify-content-start">
      <i class="fas fa-sign-out-alt me-2"></i> <span class="label">Sair</span>
    </button>
  </div>
</div>

<!-- Importando CSS e JS da sidebar -->
<link rel="stylesheet" href="../css/SideBar.css">
<script type="module" src="../js/sidebar.js"></script>
